* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    user-select: none;
    -webkit-user-select: none;
}
body {
    background: linear-gradient(to right, #0f1b4e 0%, #05011d 100%);
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    color: #ede8e8;
    background-color: #3a3f58;
}

button {
    cursor: pointer;
}
a {
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #ede8e8;
}


/* ---- utility classes ---- */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #bec0ca !important;
    color: #ede8e8;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

}


#addTaskButton {
    background: #3a3f58 !important;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-radius: 5px;
    padding: 10px 20px;
}