* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    user-select: none;
    -webkit-user-select: none;
}
body {
    background: linear-gradient(to right, #0f1b4e 0%, #05011d 100%);
}
.container {
    margin: 0 auto;
    padding: 10px;
    color: #ede8e8;
    background-color: #3a3f58;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-top: 50px;
    text-align: center;

}

button {
    cursor: pointer;
}
a {
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #ede8e8;
}


/* ---- utility classes ---- */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #bec0ca !important;
    color: #ede8e8;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

}


#addTaskButton {
    background: #3a3f58 !important;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    border: 2px solid #555b7e;
}
#addTaskButton:hover {
    background: #555b7e !important;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
#taskInput {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    width: 15%;
    margin-right: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#taskInput:focus {
    border-color: #555b7e;
    box-shadow: 0 0 5px rgba(85, 91, 126, 0.5);
    outline: none;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    margin: auto;
}
.btn {
     font-size: medium;
        font-weight: bold;
        background-color: #555b7e !important;
        color: #fff;
        border: 2px solid #555b7e !important;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        margin: 5px;
        text-decoration: none;
        text-align: center;

}
.btn:hover {
    background-color: #3a3f58 !important;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.list-group-item {
    background: #555b7e;
    color: #fff;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: start;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #444b6e;
    
}
.list-group-item .btn {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.list-group-item input {
    text-align: center;
    width: 80%;
    font-size: 16px;
    
}